<a 
                style="color: #666; text-decoration: none;"
                hx-get="{% url 'comment_like' comment.comment_id %}"
                hx-swap="innerHTML"
                href="#"
                hx-target="#comment-like-{{comment.comment_id}}">
                {% if request.user in comment.like.all %}
                <i id="icon" class="fa-solid fa-heart action-icon" style="color: var(--color-danger, #666);"></i>
                {% if comment.like.count > 0 %} {{comment.like.count}} {% endif %}
                {% else %}
                <i id="icon" class="fa-regular fa-heart action-icon"></i> {% if comment.like.count > 0 %} {{comment.like.count}} {% endif %}
                
            </a>
             {% endif %} 